<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <form class="form-horizontal" *ngIf="appStore?.unmaskData?.clientUserUnmaskDetail?.unMaskCount <= 5">
            <div class="form-group row">
              <label class="label col-sm-4 form-control-label">User Name:</label>
              <label class="label col-sm-8"> {{appStore?.selectedUserAdViewRow?.userName}} </label>
            </div>
  
            <div class="form-group row">
              <label class="label col-sm-4 form-control-label">Mobile Number:</label>
              <label class="label col-sm-8"> {{appStore?.unmaskData?.mobileNumber}} </label>
            </div>
            <div class="form-group row">
                <label class="label col-sm-4 form-control-label">Played Time:</label>
                <label class="label col-sm-8"> {{appStore?.selectedUserAdViewRow?.playedTime}} </label>
              </div>
          </form>
            <div class="alert alert-danger" role="alert" *ngIf="appStore?.unmaskData?.clientUserUnmaskDetail?.unMaskCount > 5">
              {{appStore?.unmaskData?.message}}
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>