<nb-card>
    <nb-card-header><h3>Participated Users</h3></nb-card-header>
  </nb-card>
  <nb-card>
    <!-- <nb-card-header>Select Filters</nb-card-header> -->
    <nb-card-body>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputLastName" class="label">Short Session Name:</label>
            <span class="ml-2">{{dashboardStore?.shortSessionParticipatedUsers?.shortSessionName}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputFirstName" class="label">Winners:</label>
            <span class="ml-2">{{dashboardStore?.shortSessionParticipatedUsers?.shortSessionNoOfWinners | number}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputFirstName" class="label">Users Participated:</label>
            <span class="ml-2">{{dashboardStore?.shortSessionParticipatedUsers?.shortSessionNoOfUsersParticipated | number}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="inputLastName" class="label">Start Time:</label>
            <span class="ml-2">{{dashboardStore?.shortSessionParticipatedUsers?.shortSessionStartTime}}</span>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="inputFirstName" class="label">End Time:</label>
            <span class="ml-2">{{dashboardStore?.shortSessionParticipatedUsers?.shortSessionEndTime}}</span>
          </div>
        </div>

        <!-- <div class="col-md-3">
          <div class="form-group">
            <label for="inputFirstName" class="label">Users Participated</label>
          </div>
        </div> -->
      </div>

      
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="col-md-12">
            <ng2-smart-table *ngIf="dashboardStore?.shortSessionParticipatedUsers?.shortSessionWinners && !dashboardStore?.showSpinner"
              [settings]="settings" 
              [source]="dashboardStore?.shortSessionParticipatedUsers?.shortSessionWinners"
              (userRowSelect)="rowClicked($event)">
            </ng2-smart-table>
           </div>
    </div>