<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Email:</label>
            <label class="label col-sm-9"> {{appStore.user.username}} </label>
          </div>

          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Role:</label>
            <label class="label col-sm-9"> {{appStore.user.role}} </label>
          </div>
          
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Email:</label>
            <label class="label col-sm-9"> {{appStore.user.email}} </label>
          </div>
          
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Join Date:</label>
            <label class="label col-sm-9"> {{appStore.user.joinDate}} </label>
          </div>
          
          <div class="form-group row">
            <label class="label col-sm-3 form-control-label">Last Login:</label>
            <label class="label col-sm-9"> {{appStore.user.lastLoginDate}} </label>
          </div>
         
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>