<nb-card>
  <nb-card-header>Dashboard</nb-card-header>
</nb-card>

<div class="row">
  <ng-container *ngFor="let tile of dashboardStore?.dashboardTiles;">
    <div class="col-lg-3">
        <div class="w-card-container pink-card" [ngClass]='tile.color'>
          <div class="w-card-header">
            <div class="w-card-header-icon">
              <nb-icon icon={{tile.icon}}></nb-icon>
            </div>
            <div class="w-card-header-value">{{ tile.count | number }}</div>
          </div>
          <div class="w-card-sub-header">{{tile.name}}</div>
          <div class="w-card-action">
            <button nbButton outline size="small" (click)='viewDetails(tile.name)'>
              View Details
            </button>
          </div>
        </div>
    </div>
  </ng-container>
</div>

<div class="row mt-3">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-body>
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="results"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Winga Quick Facts</nb-card-header>
        <nb-card-body>
          <ol>
            <li *ngFor="let item of wingaFacts"> {{item}}</li>
          </ol>  
        </nb-card-body>
      </nb-card>
    </div>
</div>
