<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>charts.js</nb-card-header>
        <nb-card-body>
            <chart type="bar" [data]="data" [options]="options"></chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>D3</nb-card-header>
        <nb-card-body>
          <ngx-charts-bar-vertical
            [scheme]="colorScheme"
            [results]="results"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Echarts</nb-card-header>
        <nb-card-body>
            <div echarts [options]="options2" class="echart"></div>
        </nb-card-body>
      </nb-card>
    </div>
    
  </div>